<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Files</title>

    <link rel="stylesheet" href="/assets/styles.css">
  </head>

  <body>

    {{#each files}}
    {{name}}
    {{/each}}

    <script async src="/assets/app.js"></script>
  </body>
</html>
