body {
  background: #fff;
  margin: 0;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  font-family: Menlo;

  @media (min-width: 992px) {
    padding: 45px;
  }
}

a {
  color: #1A00F2;
  text-decoration: none;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  color: #000;
  font-family: -apple-system, Helvetica;
  display: flex;

  i {
    font-style: normal;
  }

  a {
    color: inherit;
    font-weight: bold;
    border-bottom: 1px dashed transparent;

    &:after {
      content: '/';
    }

    &:hover {
      color: #7d7d7d;
    }
  }

  @media (min-width: 992px) {
    font-size: 15px;
  }
}

main {
  max-width: 920px;
}

ul {
  margin: 0;
  padding: 20px 0 0 0;

  li {
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    i {
      color: #9B9B9B;
      font-size: 11px;
      display: block;
      font-style: normal;
      white-space: nowrap;
      padding-left: 15px;
    }

    @media (min-width: 768px) {
      width: 230px;
      padding-right: 20px;
    }

    @media (min-width: 992px) {
      font-size: 13px;
      box-sizing: border-box;
      justify-content: flex-start;

      &:hover i {
        opacity: 1;
      }

      i {
        font-size: 10px;
        opacity: 0;
        margin-left: 10px;
        margin-top: 3px;
        padding-left: 0;
      }
    }
  }

  a {
    color: #1A00F2;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;

    &:before {
      content: '\f016';
      font-family: FontAwesome;
      display: inline-block;
      margin-right: 10px;
      color: #000;
    }

    &:hover {
      color: #000;
    }

    &[class=''] {
      & + i {
        display: none;
      }

      &:before {
        content: '\f114';
        font-size: 14px;
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

aside {
  font-style: italic;
  color: #4A4A4A;
  margin-top: 50px;

  p {
    font-size: 12px;
    margin: 0;
    line-height: 1.5em;
  }

  @media (min-width: 992px) {
    padding-top: 50px;
  }
}
